<br><br>
<div class="form-comment">
  <h3>Comment (<%= @song.comments.count %>)</h3><br>
  <%= image_tag current_user.image, id: "avatar-user-comment" %>&nbsp;&nbsp;
  <%= text_area_tag :content %>
  <%= button_tag id: "comment", data_id: @song.id do %>
    Comment
  <% end %>
</div>
<div class="border-form-comment"></div>
