<div class="wrapper-page">
  <div class="wrap-body group  page-artist-genre container">
    <div class="wrap-2-col">
      <div class="sidebar no-fixed">
        <ul class="data-list" id="navLeft">
          <li class="profile-row">
            <%= image_tag current_user.image %>
            <a href="#" class="displayname"></a>
          </li>
          <li><a href="#" title="Kênh của tôi">Kênh của tôi</a></li>
          <li><a href="#" title="Playlist cá nhân">Playlist cá nhân</a></li>
          <li><a href="#">Yêu thích</a>
            <ul>
                <li>
                  <a href="#" title="Bài hát">
                    Bài hát <span class="pull-right">(0)</span>
                  </a>
                </li>
                <li>
                  <a href="#" title="Playlist">
                    Playlist <span class="pull-right">(0)</span>
                  </a>
                </li>
                <li>
                  <a href="#" title="Video">
                    Video <span class="pull-right">(0)</span>
                  </a>
                </li>
            </ul>
          </li>
          <li>
            <a href="#">Quan tâm</a>
            <ul>
                <li>
                  <a href="#" title="Nghệ sĩ">
                    Nghệ sĩ <span class="pull-right">(0)</span>
                  </a>
                </li>
            </ul>
          </li>
          <li>
            <a href="#" title="Nhạc upload">Nhạc upload</a>
          </li>
        </ul>
      </div>
      <div class="zcontent">
        <div class="title-section has-border-bottom">Playlist cá nhân</div>
          <div class="func-tool group">
              <div class="func-button">
                  <span class="icon-playlist-1"></span>
                  <span class="text-style-1">
                    <a title="Tạo playlist mới" href="#">Tạo playlist mới</a>
                  </span>
              </div>
          </div>
          <div class="clearfix"></div>
          <div class="tab-pane">
            <div class="row">
              <div class="col-12">
                <div class="list-item full-width list-item-canhan">
                  <ul>
                      <li id="playlistIO6898OB" data-name="Nước Ngoài" data-from="my" data-type="playlist" data-id="IO6898OB">
                        <div class="e-item">
                          <a title="Nước Ngoài" href="#" class="thumb pull-left _trackLink" tracking="_frombox=mymusic_myplaylist_">
                            <img src="http://zmp3-photo-td.zadn.vn/skins/zmp3-v4/images/default2/220x220.jpg" alt="Nước Ngoài" height="90" width="90">
                          </a>
                          <h3 class="title-item ">
                              <a href="#" title="Nước Ngoài" class="txt-primary big-size _trackLink" tracking="_frombox=mymusic_myplaylist_">Nước Ngoài</a>
                          </h3>
                          <p class="title-sd-item">
                            <span class="txt-info">
                                Ngày tạo: <span class="fn-date" data-date="1503742410">5:13 chiều Thứ Bảy</span>
                                <span class="txt-info">Số bài hát: 7
                                </span>
                            </span>
                          </p>
                          <p class="title-sd-item"><span class="txt-info">Lượt nghe: 0</span></p>
                        </div>
                        <div class="item-tool">
                          <a title="Sửa playlist" href="/mymusic/myplaylist/edit/IO6898OB" class="zicon icon-edit-1"></a>
                          <a title="Xóa playlist" class="zicon icon-remove-2 fn-rmitem" data-item="#playlistIO6898OB">
                          </a>
                        </div>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
