<div class="rank-song">
  <div class="pull-left">
    <p>
      BXH Bài Hát <i class="fa fa-angle-right"></i>
    </p>
  </div>
  <div class="pull-right">
      <p>
        <i class="fa fa-play-circle-o"></i>
      </p>
  </div>
  <div class="clearfix"></div>
  <div class="tab-song">
    <ul class="nav nav-tabs">
      <li class="active">
        <%= link_to "#menu1", "data-toggle": "tab" do %>
          Top 10
        <% end %>
      </li>
    </ul>

    <div class="tab-content">
      <div id="menu1" class="tab-pane fade in active">
          <%= render 'songs/songs' %>
      </div>
    </div>
  </div>
</div>
