<% provide :title, t("views.home_pages.home.title") %>
<div class="container">
  <div class="wrap-content">
    <div class="row">
      <div class="col-md-8">
        <%= render 'songs/slide' %>
        <div class="category-scroll">
          <%= render 'songs/playlist' %>
        </div>
      </div>
      <div class="col-md-4">
        <%= render 'songs/rank_song' %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
