<div class="songs">
  <div class="row">
    <div class="col-md-2">
      <p>1</p>
    </div>
    <div class="col-md-7">
      <p>Ghen</p>
      <p class="author-song"> Khắc Hưng, ERIK, MIN </p>
    </div>
    <div class="col-md-3">
      <p>5,993</p>
    </div>
  </div>
</div>
