  <div class="songs">
    <div class="row">
      <div class="col-md-1">
        <p>1</p>
      </div>
      <div class="col-md-7">
        <%= link_to "#" do %>
          <p>GHEN</p>
        <% end %>
        <span class="author-song">
          <%= link_to "#" do %>
            Khắc Hưng,
          <% end %>
          <%= link_to "#" do %>
            ERIK,
          <% end %>
          <%= link_to "#" do %>
            MIN
          <% end %>
        </span>
      </div>
      <div class="col-md-3">
        <p>5,993</p>
      </div>
    </div>
  </div>
