@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

a {
  &:hover {
    text-decoration: none !important;
  }
}

#user {
  background: #F2F2F2 ;
  ul {
    li {
      list-style: none;
    }
  }
}

.users {
  #back-top {
    background: #fff;
    border-radius: 50%;
    bottom: 108px;
    cursor: pointer;
    font-size: 25px;
    padding: 5px 12px;
    position: fixed;
    right: 75px;
    display: none;
  }
  .content-comment {
    position: relative;
    height: auto;
    .li-user-reply {
      padding: 15px 60px;
    }
    ul {
      clear: both;
    }
    .time-user-comment {
      position: absolute;
      right: 0;
      color: #666;
      font-size: 13px;
    }
    .time-user-comment-signed {
      position: absolute;
      right: 0;
      top: 0;
      color: #666;
      font-size: 13px;
    }
    .time-user-comment-reply-signed {
      position: absolute;
      right: 0;
      top: 0;
      color: #666;
      font-size: 13px;
    }
    .time-user-comment-reply {
      position: absolute;
      right: 40px;
      color: #666;
      font-size: 13px;
    }
    li {
      height: auto;
      padding-bottom: 15px;
    }
    .avatar-user-comment {
      float: left;
    }
    .avatar-user-comment-reply {
      float: left;
    }
    .avatar-user-comment-reply {
      float: left;
    }
    .post-comment {
      margin-left: 75px;
      margin-bottom: 20px;
    }
    .post-comment-signed {
      position: relative;
      margin-left: 75px;
      margin-bottom: 20px;
    }
    .post-comment-reply-signed {
      position: relative;
      margin-left: 75px;
      margin-bottom: 20px;
    }
    .post-comment-reply {
      margin-left: 75px;
      margin-bottom: 20px;
    }
    .content-reply {
      margin-top: 10px;
    }
    .cancel {
      display: none;
      &:hover {
        color: #3399ff;
      }
    }
    .save {
      display: none;
      &:hover {
        color: #3399ff;
      }
    }
    .textarea_comment {
      display: none;
      white-space: normal;
    }
    .textarea_reply {
      display: none;
      white-space: normal;
    }
    .save-comment-reply {
      display: none;
    }
    .cancel-comment-reply {
      display: none;
    }
    .name-user-comment {
      font-size: 16px;
    }
    .content-user-comment {
      color: #666666;
      font-size: 14px;
    }
    .content-user-comment-reply {
      color: #666666;
      font-size: 14px;
    }
    .time-comment {
      color: #666666;
      font-size: 13px;
    }
    .action-comment {
      cursor: pointer;
      position: absolute;
      right: 95px;
      top: 0;
      span {
        display: flex;
        font-size: 18px;
        position: absolute;
        top: 35px;
        button {
          margin: 0 10px 0 0;
        }
        i {
          padding: 0 10px 0 0;
        }
      }
      .delete-comment {
        &:hover {
          color: #3399ff;
        }
      }
      .edit-comment {
        &:hover {
          color: #3399ff;
        }
      }
    }
    #avatar-user-comment {
      max-width: 60px;
    }
    textarea {
      width: 75%;
    }
  }
  .form-comment {
    position: relative;
    height: 150px;
    h3 {
      margin: 0;
    }
    #avatar-user-comment {
      max-width: 60px;
    }
    textarea {
      height: 60px;
      position: absolute;
      right: 0;
      width: 89%;
    }
    #comment {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
  .border-form-comment {
    margin: 20px 0;
    border-bottom: 1px solid #DEDEDE;
  }
  .wrap-song {
    background: #fafafa;
    margin: 10px 0;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    .songs {
      border-bottom: 1px solid #DEDEDE;
      padding: 10px;
    }
  }
  .replace-content-song {
    cursor: pointer;
    &:hover {
      color: #3399ff;
    }
  }
  .category-scroll {
    padding: 10px;
    width: auto;
    margin: 10px 0 0 0;
  }
  .search-song-scroll {
    padding: 10px;
    width: auto;
    margin: 10px 0 0 0;
    .item-search-song {
      border-bottom: 1px solid #dedede;
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative;
      a {
        text-decoration: none;
        color: #000;
        font-weight: 40px;
        position: relative;
        .custom-icon-play {
          position: absolute;
          top: 2px;
          left: 43%;
          color: #fff;
          transform: scale(0);
        }
        &:hover {
          color: #3399ff;
          top: 50%;
          .custom-icon-play {
            transform: scale(3);
            transition: 0.3s;
          }
          img{
            opacity: 1;
            transition: 0.3s;
          }
        }
      }
      .thumbnail-item-seach-song {
        float: left;
        padding-right: 10px;
        img {
          width: 77px;
        }
      }
      .content-item-search-song {
        div {
          padding-bottom: 5px;
        }
      }
    }
  }
  .bx-wrapper {
    z-index: 999;
    margin: 0;
  }
  .size-img-thumbnail {
    height: 100%;
    width: 95px;
  }
  a {
    text-decoration: none;
    color: #000;
    &:hover {
      color: #3399ff;
    }
  }
  .container {
    width: 970px;
    padding: 0;
    .forget-password {
      a {
        font-size: 12px;
      }
    }
    .form-wrap {
      background: #fff;
      padding: 30px;
      margin: 0 0 20px 0;
      box-shadow: 0 5px 12px -5px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 5px 12px -5px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 5px 12px -5px rgba(0, 0, 0, 0.5);
    }
    .form-wrap-forget-pass {
      background: #fff;
      padding: 30px;
      width: 70%;
      margin: 50px 0 174px;
      position: relative;
      left: 15%;
      box-shadow: 0 5px 12px -5px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 5px 12px -5px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 5px 12px -5px rgba(0, 0, 0, 0.5);
    }
  }

  /* header */
  header{
    background: #F0F0F0;
    padding: 15px;
    position: relative;
    .form-search-header {
    margin: 10px 0 0 0;
    }
    #search-header {
      padding: 5px 10px;
      width: 350px;
      border: 1px solid #D6D6D7;
      box-shadow: 10px 10px 5px #888888;
    }
    #button-search {
      background: none;
      border: none;
      font-size: 22px;
      position: absolute;
      right: 140px;
      top: 12px;
      color: #a6a6a6;
      padding: 0;
      outline: none;
    }
    #logo {
      height: 50px;
      width: 110px;
    }
    .log-in-header {
      position: relative;
      .account {
        width: 120px;
        position: absolute;
        background: none;
        font-size: 13px;
        top: 5px;
        left: 100px;
        &:hover {
          .username {
            background: #337ab7;
            transition: 0.3s;
            a {
              color: #fff;
              transition: 0.3s;
            }
          }
          ul {
            background: #337ab7;
            display: block;
            transition: 0.3s;
          }
        }
        ul {
          display: none;
          margin: 0;
          padding: 0;
          position: absolute;
          right: 0;
          top: 38px;
          width: 100%;
          z-index: 99999;
          li {
            list-style: none;
            a {
              color: #fff;
              text-decoration: none;
              display: block;
              padding: 8px 10px;
              &:hover {
                background: #396eaf;
                transition: 0.3s;
              }
            }
          }
        }
        .username {
          padding: 10px;
          a {
            color: #000;
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
      .language-header {
        position: absolute;
        top: 15px;
      }
    }
    .login {
      position: absolute;
      left: 80px;
      top: 8px;
      padding: 6px 10px;
      background: #337ab7;
      border-radius: 5px;
      &:hover {
        background: #396eaf;
        transition: 0.3s;
      }
      a {
        padding:  0 5px;
        color: #fff;
        font-weight: bold;
      }
    }
    .language {
      padding: 0 0 0 5px;
    }
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .modal-signin {
    ul {
      li {
        text-align: center;
        a {
          color: #000 !important;
          &:hover {
            color: #396eaf !important;
          }
          &:focus {
            color: #396eaf !important;
          }
        }
      }
    }
    .tab-content {
      padding: 20px;
      max-width: auto;
      max-height: auto;
      text-align: center;
    }
  }

  nav {
    background: #4C6BA4;
    .nav {
      li {
        display: inline-block;
        #home {
          font-size: 20px;
          padding: 0 15px;
          &:hover {
            background: none;
          }
        }
        #upload {
          font-size: 20px;
          padding: 6px 0 0 0;
          &:hover {
            background: none;
            color: #000;
          }
        }
        a {
          color: #fff;
          &:hover {
            background: none;
            color: #000;
          }
          &:focus {
            background: none;
            outline: none;
          }
        }
      }
    }
  }

  /* content */
  .wrap-content {
    background: #fff;
    padding: 10px;
    .pagination {
      span {
        display: none
      }
      em {
        border: 1px solid #D6D6D7;
        padding: 4px 10px;
        background: #fff;
        position: relative;
        bottom: 15px;
        box-shadow: 0 5px 12px -5px rgba(0, 0, 0, 0.5);
      }
      a {
        border: 1px solid #D6D6D7;
        padding: 4px 10px;
        background: #fff;
        box-shadow: 0 5px 12px -5px rgba(0, 0, 0, 0.5);
      }
    }
    .add-song-favorite {
      #button-hide-favorite-song {
        display: none;
      }
    }
    #container-favorite-song {
      background: #f5f5f5;
      position: relative;
      padding: 15px;
      display: none;
      max-height: 300px;
      .container-list-favorite {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        .list-album-song-favorite {
          border-bottom: 1px solid #e6e6e6;
          padding: 15px 0;
          position: relative;
          .icon-playlist {
            background-image: url("icon.png");
            background-position: -3px -1759px;
            display: block;
            height: 25px;
            position: absolute;
            top: 12px;
            left: 0;
            width: 25px;
          }
          .count-favorite-song {
            bottom: 5px;
            display: inline-block;
            left: 35px;
            position: absolute;
            p {
              color: #80179F;
              margin: 0;
            }
          }
          .icon-song {
            color: #3399ff;
            position: absolute;
          }
          #delete-favorite-album {
            right: 5px;
            position: absolute;
          }
        }
      }
      .container-button-create-favorite {
        margin-top: 20px;
      }
      #delete-song-favorite-album {
        background: #777777;
        position: absolute;
        right: 30px;
      }
      #add-song-favorite-album {
        position: absolute;
        right: 30px;
      }
      #delete-favorite-album {
        cursor: pointer;
        font-size: 22px;
        &:hover {
          color: #3399ff;
        }
      }
      .form-add-song-favorite {
        input {
          border: 1px solid #d6d6d7;
          height: 30px;
          padding: 5px;
          box-shadow: 10px 10px 5px #888888;
          -webkit-box-shadow: 10px 10px 5px #888888;
          -moz-box-shadow: 10px 10px 5px #888888;
          &:hover {
            color: #3399ff;
            transition: 0.3s;
          }
        }
        button {
          height: 31px;
          box-shadow: 10px 10px 5px #888888;
          -webkit-box-shadow: 10px 10px 5px #888888;
          -moz-box-shadow: 10px 10px 5px #888888;
        }
      }
    }
    button {
      border: none;
      background: #4C6BA4;
      color: #fff;
      font: 12px/22px Tahoma;
      border-radius: 2px;
      width: auto;
      &:hover {
        background: #777777;
        transition: 0.3s;
      }
    }
    .content-song {
      padding: 30px 20px;
      background: #F5F5F5;
      overflow-y: auto;
      overflow-x: hidden;
      width: 100%;
      height: 200px;
      position: relative;
      #show {
        position: absolute;
        bottom: 0;
      }
    }
    .info-song {
      #like-dislike {
        .count-like {
          background: #fff none repeat scroll 0 0;
          border: 1px solid #898f9c;
          border-radius: 2px;
          font-size: 11px;
          margin-top: 1px;
          padding: 2px 6px;
          position: relative;
          i {
            border-style: solid;
            border-width: 5px 5px 5px 0;
            display: block;
            height: 0;
            position: absolute;
            width: 0;
            border-color: transparent #898f9c transparent transparent;
            left: -5px;
            top: 5px;
          }
          b {
            border-style: solid;
            border-width: 5px 5px 5px 0;
            display: block;
            height: 0;
            position: absolute;
            width: 0;
            border-color: transparent #fff transparent transparent;
            left: -4px;
            top: 5px;
          }
        }
      }
      .song-name {
        font-size: 20px;
        font-weight: bold;
      }
      .singer-name {
        font-size: 15px;
        color: #bfbfbf;
      }
    }
    .rank-song {
      max-width: 100%;
      .pull-left {
        color: #a6a6a6;
        p {
          &:hover {
            color: #3399ff;
          }
        }
      }
      .pull-right {
        color: #a6a6a6;
        p {
          &:hover {
            color: #3399ff;
          }
        }
      }
      .tab-song {
        ul {
          li {
            a {
              &:hover {
                border-top: 1px solid #721799;
                border-radius: 0;
                transition: 0.3s;
              }
              &:focus {
                outline: none;
                border-top: 1px solid #721799;
                border-radius: 0;
              }
            }
          }
        }
        .tab-content {
          overflow-y: auto;
          overflow-x: hidden;
          max-height: 400px;
          p {
            font-size: 15px;
            margin: 10px 0;
          }
          .author-song {
            font-size: 10px;
            color: #a6a6a6;
          }
          .songs {
            margin: 0 0 10px 0;
            border-bottom: 1px solid #e6e6e6;
          }
        }
      }
      p {
        font-size: 25px;
        a {
          text-decoration: none;
          color: #a6a6a6;
          &:hover {
            color: #3399ff;
          }
        }
      }
    }
    .playlist {
      h3 {
        a {
          text-decoration: none;
          color: #3399ff;
        }
      }
      ul {
        padding: 10px;
      }
    }
    .slider {
      max-width: 100%;
    }
    ul {
      padding: 0;
      margin: 0;
      .playlist-li{
        .thumbnail-playlist {
          height: auto;
          max-width: 100%;
          opacity: 0.9;
        }
        a {
          text-decoration: none;
          color: #000;
          font-weight: 40px;
          position: relative;
          .custom-icon-play {
            position: absolute;
            top: 0;
            left: 50%;
            color: #fff;
            transform: scale(0);
          }
          &:hover {
            color: #3399ff;
            top: 50%;
            .custom-icon-play {
              transform: scale(4);
              transition: 0.3s;
            }
            .thumbnail-playlist {
              opacity: 1;
              transition: 0.3s;
            }
          }
        }
      }
      .slider-li {
        display: inline-block;
        margin: 5px 0;
        width: 121.4px;
        a {
          .logo-slider {
            width: 100%;
            height: 50px;
          }
        }
      }
    }
  }

  /* footer */
  footer {
    background: #222428;
    padding: 20px;
    text-align: center;
    span {
      color: #fff;
      a {
        text-decoration: none;
        color: #fff;
        &:hover {
          text-decoration: none;
          color: #3399ff;
        }
      }
    }
  }
}
