<footer>
  <div class="container">
    <span>
      &copy;
      <%= t "views.layouts.footer.copy_right" %>
      <%= link_to "#" do %>
        <%= t "views.layouts.footer.author_name" %>
      <% end %>
    </span>
  </div>
</footer>
